body
{
	background-color: lightblue;
	font-family: calibri;
}

.menu
{
	background-color: red;
	width:1000px;
	height:40px;
	margin:0px auto;
	font-weight:bold;
	text-align:center;
}

.menu a
{
	background-image: url("images/layout/menu_btn.png");
	width:128px;
	height:40px;
	float:left;
	text-decoration: none;
}

.menu_txt
{
	margin-top:6px;
	font-size:20px;
	font-weight:bold;
	color: black;
}

.menu a:hover
{
	/*text-decoration: underline;
	color:white;
	font-size:22px;*/
	background-image: url("images/layout/menu_btn_hover.png");
	width:128px;
	height:40px;
	float:left;
	text-decoration: none;
}

.header
{
	width:1000px;
	height:150px;
	margin:0px auto;
	/*background-image: url('images/layout/header.JPG');*/
	background-image: url('images/layout/header2.png');
}

.content
{
	background-color:white;
	width:700px;
	height:700px;
	float:left;
	/*border: 3px blue solid;*/
	overflow: auto;
}

.side_info
{
	background-color:orange;
	width:300px;
	height:700px;
	float:right;
}

.login_box
{
	background-color:black;
	width:300px;
	height:130px;
	float:right;
}

.login_box .login_message .user_image
{
	width:90px;
	height:90px;
	float:left;
	margin-top:10px;
	margin-left:10px;
}

.login_box .login_message .user_info_holder
{
	margin-top:10px;
	margin-left:10px;
}

.login_box .login_message .user_info_holder a
{
	text-decoration:none;
	color: black;
}

.login_box .login_message .user_info_holder a:hover
{
	text-decoration:none;
	color: lightblue;
}

/*.login_box .Userinfolink
{
	background-color:yellow;
	width:300px;
	height:150px;
	float:right;
}*/

.login_box .login_form
{
	background-color:white;
	width:300px;
	height:130px;
	float:right;
	/*border: 3px blue solid;*/
}

.login_box .login_message
{
	background-color:white;
	width:300px;
	height:130px;
	float:right;
}

.content_holder
{
	/*background-color:purple;*/
	width:1000px;
	height:720px;
	margin:0px auto;
}

.home_artikel
{
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;

	width:auto;
	height:200px;
	border:solid;
	border-width: 2px;
}

.home_artikel .categorie_afbeelding
{

	text-align: center;

	border: solid;
	border-width: 1px;

	height: 150px;
	width: 150px;

	margin-top: 25px;
	margin-left: 10px;
}

.home_artikel .categorie_afbeelding .afbeelding
{
	width:150px;
	height: 150px;
}

.home_artikel .product_afbeelding .afbeelding
{
	width:150px;
	height: 150px;
}

.home_artikel .categorie_naam
{

	text-align: center;
	font-size: 60px;
	
	border: solid;
	border-width: 1px;

	height: 125px;
	width: auto;

	margin-top: -140px;
	
	margin-left: 180px;
	margin-right: 10px;
}

.artikel_zoeken
{
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.artikel_zoeken .zoeken
{
	margin-left: auto;
	margin-right: auto;
	/*border:solid;
	border-width: 2px;*/
}

/*
.home_artikel .product_categorie
{
	text-align: right;
	
	width:100px;
	height: 25px;
	float: right;

	border:solid;
	border-width: 1px;

	margin-top: 2px;
	margin-right: 2px;

}*/

.home_artikel .product_naam
{
	  	
	text-align: center;
	font-size: 30px;
	
	border: solid;
	border-width: 1px;

	height: 40px;
	width: auto;

	margin-top: -120px;
	
	margin-left: 125px;
	margin-right: 10px;
}


.home_artikel .product_afbeelding
{

	text-align: center;

	border: solid;
	border-width: 1px;

	height: 150px;
	width: 150px;

	margin-top: 25px;
	margin-left: 10px;
}

.home_artikel .product_beschrijving
{

text-align: center;

	width: 200px;
	height: auto;

	border:solid;
	border-width: 1px;

	margin-top: 2px;

	margin-left: auto ;
  	margin-right: auto ;

}

.home_artikel .product_prijs
{
	text-align: right;
	
	width:100px;
	height: 25px;
	float: right;

	border:solid;
	border-width: 1px;

	margin-top: 90px;
	margin-right: 2px;

} 
