body
{
	background-color: lightblue;
	font-family: calibri;
}

.menu
{
	background-color: red;
	width:1000px;
	height:40px;
	margin:0px auto;
	font-weight:bold;
	text-align:center;
}

.menu a
{
	text-decoration: none;
	font-size:20px;
	color:black;
}

.menu a:hover
{
	text-decoration: underline;
	color:white;
	font-size:22px;
}

.header
{
	background-color: green;
	width:1000px;
	height:150px;
	margin:0px auto;
}

.content
{
	background-color:white;
	width:700px;
	height:700px;
	float:left;
	/*border: 3px blue solid;*/
	overflow: auto;
}

.side_info
{
	background-color:orange;
	width:300px;
	height:700px;
	float:right;
}

.login_box
{
	background-color:black;
	width:300px;
	height:100px;
	float:right;
}

/*.login_box .Userinfolink
{
	background-color:yellow;
	width:300px;
	height:150px;
	float:right;
}*/

.login_box .login_form
{
	background-color:white;
	width:300px;
	height:100px;
	float:right;
	/*border: 3px blue solid;*/
}

.login_box .login_message
{
	background-color:white;
	width:300px;
	height:100px;
	float:right;
}

.content_holder
{
	/*background-color:purple;*/
	width:1000px;
	height:720px;
	margin:0px auto;
}

.home_artikel
{
	margin-top: 5px;
	margin-left: 5px;

	width:685px;
	height:200px;
	border:solid;
	border-width: 2px;
}

.home_artikel .product_categorie
{
	text-align: right;
	
	width:100px;
	height: 25px;
	float: right;

	border:solid;
	border-width: 1px;

	margin-top: 2px;
	margin-right: 2px;

}

.home_artikel .product_titel
{
	text-align: center;

	width: 200px;
	height: 25px;

	border:solid;
	border-width: 1px;

	margin-top: 2px;

	margin-left: auto ;
  	margin-right: auto ;
}


.home_artikel .product_afbeelding
{

	text-align: center;

	border: solid;
	border-width: 1px;

	height: 100px;
	width: 100px;

	margin-top: 25px;
	margin-left: 10px;
}

.home_artikel .product_beschrijving
{

	text-align: center;
	
	border: solid;
	border-width: 1px;

	height: 125px;
	width: auto;

	margin-top: -120px;
	
	margin-left: 125px;
	margin-right: 10px;
}

.home_artikel .product_prijs
{
	text-align: right;
	
	width:100px;
	height: 25px;
	float: right;

	border:solid;
	border-width: 1px;

	margin-top: 5px;
	margin-right: 2px;

}